@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	font-family: 'Merriweather', serif;
}

label {
	font-weight: bold;
}

.contact {
	border-style: dashed;
	border-width: 5px;
	background-color: #67727a;
	padding: 15px;
}

.hit {
	border-style: dashed;
	border-width: 5px;
	background-color: #6991ac;
	padding: 15px;
}
