<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head('Page Tracker | Home')">
</head>

<body>

<div th:replace="header :: header"></div>

<div class="container">
	<h1>Home</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur justo risus, non malesuada felis hendrerit nec. Maecenas non libero interdum, laoreet ex vel, tempor tellus. Duis laoreet varius mi, ut tempor nisl malesuada sit amet. Suspendisse imperdiet massa non mollis congue. Sed elit nisi, volutpat a rhoncus sit amet, ullamcorper sit amet mi. Integer interdum nisi vulputate, pretium risus gravida, suscipit dolor. Nunc dui tortor, malesuada ut nulla non, dapibus pretium purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum gravida velit nec maximus placerat.</p>
	<p>Integer consectetur magna ipsum, vitae accumsan ipsum finibus id. Cras vitae metus elementum, facilisis augue in, vehicula leo. Maecenas purus turpis, convallis aliquam elit ut, consequat luctus velit. Phasellus porttitor, lorem non congue posuere, sem nunc efficitur ligula, non ornare eros quam nec sapien. Vivamus in lacus in justo vulputate pellentesque. Nullam a orci vel augue ornare laoreet. Praesent sagittis risus neque, at hendrerit odio sodales in. Aenean scelerisque porttitor erat, vitae porttitor enim vehicula quis.</p>
	<p>Ut scelerisque commodo rhoncus. Vivamus malesuada porta est et interdum. Phasellus quis laoreet enim, et mattis sapien. Proin eget tincidunt ipsum, in efficitur eros. Fusce eu tempus eros. Nullam commodo, magna vitae maximus maximus, tortor felis ornare lacus, id sagittis nulla mauris porttitor sapien. Praesent suscipit pharetra enim id volutpat. Vestibulum a pharetra leo, quis placerat mauris. Nulla laoreet fermentum libero nec auctor. Mauris eget pharetra orci, ac fringilla ex. Donec non luctus metus. Nulla at erat tellus. Mauris vel nisi tristique, lobortis lectus a, ultrices urna. Sed vulputate quam eget purus interdum, eu bibendum tellus aliquet.</p>
	<p>Mauris sit amet ultricies magna. Proin vulputate tellus ut orci viverra volutpat. Praesent sodales arcu id molestie pulvinar. Sed consectetur, leo nec tincidunt ornare, felis risus eleifend odio, non pulvinar enim diam vitae sem. Aenean nec enim nisl. Aliquam orci augue, finibus vitae vehicula quis, placerat non neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin elit ex, luctus vel quam ac, imperdiet maximus velit.</p>
	<p>Nulla interdum laoreet interdum. Maecenas sagittis felis ac purus egestas blandit. Suspendisse eget eleifend dolor. Cras vehicula odio tellus, non iaculis diam facilisis feugiat. Nullam purus orci, accumsan condimentum tincidunt et, vehicula quis odio. Nunc viverra laoreet erat, eu finibus neque. Nulla ante neque, ornare eu nisi ut, pharetra ornare arcu. Nunc eget lobortis magna. Nulla quam lectus, vehicula ut sagittis a, suscipit a eros. Vestibulum tellus dui, dignissim sit amet commodo vitae, condimentum eu enim. Suspendisse consectetur, velit sed facilisis volutpat, lacus arcu viverra nunc, ac sollicitudin nisi mi vitae odio. Duis quis dignissim metus. Mauris ornare, magna non auctor iaculis, tellus ex lacinia lectus, id pulvinar nisl justo eu lorem. Curabitur neque orci, posuere pharetra consequat vel, suscipit sit amet arcu. Fusce euismod in erat ac sodales. Morbi dapibus viverra orci quis tincidunt.</p>

</div>

</body>
</html>
